<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!-- 判斷登入狀態 -->
<% if (userid == undefined){ %>
<body onload="alert_login()"> 
<% } else { %>
<body onload="showCart()"
<% } %>
	
<div class="container" style="padding: 80px;">
	<div class="row">
		<div class="col-xs-8">
			<div class="panel panel-info">

				<!-- 上方欄位 -->
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-6">
								<h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
							</div>
							<div class="col-xs-6">
								<button type="button" class="btn btn-primary btn-sm btn-block" onclick="location.href = '/'">
									<span class="glyphicon glyphicon-share-alt"></span> 繼續瀏覽商品
								</button>
							</div>
						</div>
					</div>
				</div>

				<!-- 購物車內容部分 -->
				<div class="panel-body" id="body">		
				</div>

				<!--底下欄位 -->
				<div class="panel-footer">
					<div class="row text-center">
						<div class="col-xs-9">
							<h4 class="text-right">Total :  <strong id='total'>$00.00</strong></h4>
						</div>
						<div class="col-xs-3">
							<button type="button" class="btn btn-success btn-block" onclick="clearCart()">
								Checkout
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

<script>

	let productsId = 0
	let productTotal = 0 // 商品總額

	function showCart(){
		loadProduct()
	}
	
	function loadProduct(){

		let content = ""
		
		for (productsId; localStorage.getItem("products-" + productsId); productsId++ ){ // 迴圈不斷重複直到超過 local.storage 的 productsId
			let cart = JSON.parse(localStorage.getItem("products-"+ productsId)) // localStorage 購物車內容轉換成物件型態
			console.log('load test',cart)
			productName = cart.Name
			productPrice = cart.Price
			productQuantity = cart.Quantity

			let html = `
			<div class="row" id="${productsId}">
				<div class="col-xs-4">
					<h4 class="product-name"><strong >${productName}</strong></h4><h4><small>Product description</small></h4>
				</div>
				<div class="col-xs-6">
					<div class="col-xs-6 text-right">
						<h6><strong >${productPrice} <span class="text-muted">x</span></strong></h6>
					</div>
					<div class="col-xs-4">
						<input type="text" class="form-control input-sm" value="${productQuantity}">
					</div>
					<div class="col-xs-2">
						<button type="button" class="btn btn-link btn-xs" onclick="removeItem(${productsId})">
							<span class="glyphicon glyphicon-trash"> </span>
						</button>
					</div>
				</div>
			</div>
			<hr>		
			`

			content += html // 購物車加上一列內容
			var Total = productPrice * productQuantity // 總額 = 價格 * 數量
			productTotal += Total // 每一列金額重複疊加
		}
		document.getElementById('body').innerHTML = content
		document.getElementById('total').innerHTML = productTotal
		
	}

	// 移除商品
	function removeItem(Id){
		document.getElementById(Id).innerHTML='' // 刪除內容的動態效果
		console.log(Id)
		localStorage.removeItem('products-'+ Id)
		localStorage.setItem('productsId',productsId - 1)
		console.log("remove test")
		productsId --
	}
	
	// 清除購物車
	function clearCart(){
		localStorage.clear()
		location.href = '/'
	}

	// 登入提醒視窗
	function alert_login(){
		alert('請先登入')
		location.href = '/'
	}
</script>
