<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Shopping web</title>
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</head>
<body>
    <div class="nav">
        <ul class="p-nested-dropdowns">
            <li><a href="/">首頁</a></li>
            <li><a href="/cart">購物車</a></li>

            <% if (userid == undefined){ %>
            <li><a href="/register">註冊</a></li>
            <li><a href="/login">登入</a></li>
            <% } else { %>
            <li>
                <div style="overflow: hidden;"><%= userid %></div>
                <!-- First level sub dropdown -->
                <ul>
                    <li><a href="/member">會員中心</a></li>
                    <li><a href="/logout">登出</a></li>
                </ul>
            </li>
            <% } %>
        </ul>
    </div>

    <div style="display: flex; margin:80px 100px;">
        <!-- Sidebar -->
        <aside style="width: 10%">
            <ul class="sidebar">
                <li>Home</li>
                <li>Products</li>
                <li>About</li>
                <li>Patterns </li>
            </ul>
        </aside>

        <!-- Main -->
        <main style="
            /* Take the remaining width */
            flex: 2;

            /* Make it scrollable */

            padding-left: 80px;
        ">

                <div class="row">         
                    <div class="card" style="width: 15rem; margin: 10px;" >
                        <img src="https://media.playstation.com/is/image/SCEA/black-friday-week-ps4-ps4pro-tw1119?$native_nt$" class="card-img-top" alt="..." style=" height: 250px;">                    
                        <div class="card-body" style="width: 100%;">
                            <h5 class="card-title" id="Name-0">Ps4</h5>
                            <p class="card-text" id="Price-0">100</p>
                            <div class="form-group">
                                <input type="number" class="form-control" id="Quantity-0" min="1" placeholder="數量"  >
                            </div>
                            <a href="#" class="btn btn-primary" onclick="addItemToCart(0)">加入</a>
                        </div>
                    </div>
                    <div class="card" style="width: 15rem; margin: 10px;">
                        <img src="https://compass-ssl.xbox.com/assets/05/b0/05b01a46-58eb-4927-ad21-3c43b545ebaf.jpg?n=X1S-2019_Panes-2-Up-1084_111_570x400.jpg" class="card-img-top" alt="..." style="height: 250px;">
                        <div class="card-body">
                            <h5 class="card-title" id="Name-1">Xbox</h5>
                            <p class="card-text" id="Price-1">200</p>
                            <div class="form-group">
                                <input type="number" class="form-control" id="Quantity-1" min="1" placeholder="數量">
                            </div>
                            <a href="#" class="btn btn-primary" onclick="addItemToCart(1)">加入</a>
                        </div>
                    </div>
                    <div class="card" style="width: 15rem; margin:10px">
                        <img src="https://www.nintendo.tw/hardware/switch/feature/img/01-hero/local-hero__model-pic.png" class="card-img-top" alt="..." style=" height: 250px;">
                        <div class="card-body">
                            <h5 class="card-title" id="Name-2">Switch</h5>
                            <p class="card-text" id="Price-2">300</p>
                            <div class="form-group">
                                <input type="number" class="form-control"  id="Quantity-2" min="1" placeholder="數量">
                        </div>
                        <a href="#" class="btn btn-primary" onclick="addItemToCart(2)">加入</a>
                        </div>
                    </div>
                </div>                 


        </main>
    </div>
    
<script>
    // 新增紀錄商品排序的 total
    var total = localStorage.length

    // 新增商品到購物車
    function addItemToCart(productId){ 
        var productName = document.getElementById("Name-" + productId).textContent
        var productPrice = document.getElementById("Price-" + productId).textContent
        var productQuantity = document.getElementById("Quantity-" + productId).value
        
        // 驗證商品數量的值為正整數
        var r = /^[0-9]*[1-9][0-9]*$/

        if (r.test(productQuantity)){

            let products = {
                Id : total,
                Name : productName,
                Price : productPrice,
                Quantity : productQuantity
            }
            
            localStorage.setItem('products-' + total , JSON.stringify(products)) // 轉換為 JSON 格式
            total ++ 
        }
        else {
            alert("請填入有效數量")
        }
    }


</script>
</body>
</html>