a:hover {
    text-decoration: none;
}
/* The root */
.nav {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: black;
    
}
.p-nested-dropdowns {
    /* Border */
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;

    /* Reset list styles */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.p-nested-dropdowns li {
    /* Spacing */
    padding: 8px;

    /* Used to position the sub dropdown */
    position: relative;
    width: 100px;
}

/* The sub dropdown */
.p-nested-dropdowns ul {
    /* Border */
    border: 1px solid rgba(0, 0, 0, 0.3);

    /* Hidden by default */
    display: none;

    /* Absolute position */
    right: 0;
    position: absolute;
    top: 100%;
    text-align: center;

    /* Reset styles */
    list-style-type: none;
    margin: 0;
    padding: 0;

    /* Width */
    /* width: 150px; */
}

/* Change background color of list item when being hovered */
.p-nested-dropdowns li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Show the direct sub dropdown when hovering the list item */
.p-nested-dropdowns li:hover > ul {
    display: block;
}

.sidebar {
    border: 1px solid rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    background-color: black;
    padding: 8px;
    position: relative;
    color:white;
}

.sidebar li:hover {
    background-color: black;
    cursor:pointer;
    transform : scale(0.9);
}

