<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>User Details</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/shop-item.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <!-- Navigation -->
    <%- include('header.html') -%>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <h1 class="my-4"></h1>
                <div class="list-group">
                    <a href="#" class="btn btn-light" role="button">個人資訊</a>
                    <a href="#" class="btn btn-light" role="button">送貨地址</a>
                    <a href="#" class="btn btn-light" role="button">購買清單</a>
                </div>
            </div>

            <div class="col-lg-9" id="content" style="margin: 5% 0;">
                <form action="updatePassword" method="POST">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">舊的密碼</label>
                        <div class="col-sm-10">
                            <input type="password" name="old" class="form-control" id="inputPassword" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newPassword" class="col-sm-2 col-form-label">新的號碼</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="newPassword" onchange="validatePassword()" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="confirmPassword" class="col-sm-2 col-form-label">確認密碼</label>
                        <div class="col-sm-10">
                            <input type="password" name="new" class="form-control" id="confirmPassword" onkeyup="validatePassword()" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-primary">確認</button>
                        </div>
                        <div class="col-sm-4">
                            <% if (message != undefined){ %>
                                <div class="alert alert-danger"><%= message %></div>
                            <%}%>
                        </div>
                    </div>
                </form>                
            </div>

        </div>

    </div>

    <!-- Footer -->
    <%- include('footer.html') -%>
<script>

    function validatePassword() {
        console.log('test')
        let password = document.getElementById("newPassword")
        let confirm_password = document.getElementById("confirmPassword");

        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("密碼不同");
        } 
        else {
            confirm_password.setCustomValidity('');
        }
    }
    

</script>

</body>

</html>