<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>購買清單</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-item.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <!-- Navigation -->
    <%- include('header.html') -%>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <h1 class="my-4"></h1>
                <div class="list-group">
                    <a href="/userDetails" class="btn btn-light" role="button">個人資訊</a>
                    <a href="/address" class="btn btn-light" role="button">送貨地址</a>
                    <a href="/order" class="btn btn-light" role="button">購買清單</a>
                </div>
            </div>

            <div class="col-lg-9" id="content" style="margin: 5% 0;">
                <h2>建置中</h2>
            </div>

        </div>

    </div>

    <!-- Footer -->
    <%- include('footer.html') -%>

</body>

</html>